@* Strona po zalogowaniu *@
@page
@model IndexModel
@{
    ViewData["Title"] = "Witaj!";
}

<div class="text-center">
    <h1 class="display-4">Witaj</h1>
    <p>Projekt na zaliczenie Zaloguj lub zarejestruj się by móc używać aplikacji do przechowywania oraz udostępniania plików "ShareNet" </p>
</div>
