@page
@model ShareNet.Areas.Identity.Pages.Account.IndexLoggedInModel
@{
    ViewData["Title"] = "Strona Główna";
}

<div class="text-center">
    <h1 class="display-4">Witaj na stronie głównej!</h1>
    <p>Przejdź do zakładki Moje Pliki by rozpocząć używanie aplikacji</p>
    <p>Przejdź do zakładki Historia akcji by sprawdzić historię działań na koncie</p>

</div>
